.btn-primary {
  box-sizing: border-box;
  background-color: var(--color-primary);
  padding: 1rem;
  color: var(--color-white);
  border-radius: 0.25rem;
  border: none;
  text-decoration: none;
}

.btn-secondary {
  box-sizing: border-box;
  border: solid 1px var(--color-white);
  border-radius: 0.25rem;
  padding: 1rem;
  color: var(--color-white);
  text-decoration: none;
}
