.btn-primary {
  background-color: var(--color-primary);
  padding: 1rem;
  color: var(--color-white);
  border-radius: 0.25rem;
  border: none;
}

.btn-secondary {
  border: solid 1px var(--color-primary);
  padding: 1rem;
  color: var(--color-primary);
}
