@use 'mixins.scss' as *;

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  &.full-row {
    grid-column: 1 / span 2;
  }
  &.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-black-light);
  padding: 2.5rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
  button[type='submit'] {
    grid-column: 1 / span 2;
    width: 100%;
    margin-top: 1rem;
  }
}

input {
  background: var(--color-black);
  padding: 0.75rem;
  border: solid 1px var(--color-black-lighter);
  align-items: flex-start;
  color: var(--color-white);
  margin-top: 0.75rem;
  font-size: 1rem;
  font-family: var(--font-serif);
}

textarea {
  background: var(--color-black);
  min-height: 8rem;
  border: none;
  color: var(--color-white);
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-serif);
}

.checkbox-label {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  input {
    width: 1.5rem;
    margin-right: 1rem;
    height: 1.5rem;
    margin-top: 0;
  }
}

@include mobileOnly {
  form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  label {
    &.full-row {
      grid-column: auto;
    }
  }
  .checkbox-label {
    font-size: 1rem;
  }
}
