@import 'buttons.scss';
@import 'typography.scss';
@import 'mixins.scss';
@import 'forms.scss';

:root {
  --color-primary: #e4624c;
  --color-white: #f0ebdb;
  --color-black: #251e18;
  --color-black-lighter: #403326;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  margin: 0;
}
