---
import BaseHead from '../components/BaseHead.astro';
import CountdownTimer from '../components/CountdownTimer.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<header>
			<h1>Krewe de Vélorévolte</h1>
			<p>Ride! Revel! Rally!</p>
			<div class="button-container">
				<a class="btn-primary" href="#contact-us">Join the Krewe</a>
				<a class="btn-secondary" href="#mission">Our Mission</a>
			</div>
			<video autoplay muted loop>
				<source src="src/assets/video/hero-video.mp4" type="video/mp4" />
				Your browser does not support the video tag.
			</video>
			<CountdownTimer />
		</header>

		
		<section id="about-section">
			<img src="src/assets/BikesOnTheBrain.webp" alt="Bikes on the Brain" width="328" height="528"/>
			<div class="copy-container">
				<h2>Membership Open Now!</h2>
				<p>
					At Krewe de Vélorévolte, we celebrate the vibrant diversity of our members—their backgrounds, experiences, and identities. We’re more than just a krewe; we’re a community that fosters connection, creativity, and fosters change for better bicycle infrastructure. 
	
					Join us in building a movement—one ride, one parade, and one rally at a time!
	
					<br>
					<br>
	
					<a href="https://www.instagram.com/krewedesbicyclettes/" target="_blank">Follow us on Instagram</a> for updates and events as  information becomes available. Laissez les bons temps rouler!
				</p>
			</div>
		</section>

		<section id="mission">
			<h2>Our Mission</h2>
			<p> Krewe de Vélorévolte exists to <em>Ride! Revel! and Rally!</em></p>
			<ul>
				<li>🚲 <b>RIDE!</b> We are a krewe of dedicated bicycle commuters, united by our belief in the bicycle as a powerful alternative to cars. Whether for work, play, or the simple joy of the ride, we embrace two wheels as a way of life.</li>
				<li>🎭 <b>REVEL!</b> Carnival is just one facet of our revelry! We celebrate bicycle culture all year long with group rides and gatherings. One of our favorites? Fête Ghisallo! A ride to honor the patron saint of cyclists.</li>
				<li>⚡ <b>RALLY!</b> Krewe de Vélorévolte supports the grassroots movement transforming New Orleans into a city built for bicycles. We mobilize bicyclists into a force for advocacy, pushing for safer streets and better infrastructure.</li>
			</ul>
		</section>

		<section>
			<h2>Membership Options</h2>
			<div class="card-container">

				<div class="card">
					<h3>Parade Participant</h3>
					<p>
						Join us in bringing the spirit of Krewe de Vélorévolte to life! As a parade participant, you’ll have the opportunity to ride, dance, and showcase our krewe’s energy in parades during Carnival. You’ll also be a valued part of our broader community, with access to general membership activities.
						<br>
						<br>
						To be a parade participant, you must:
						<ul>
							<li>Share our passion for bicycling, creativity, and community</li>
							<li>Complete the application process</li>
							<li>Pay membership dues</li>
							<li>Attend at least 50% of costume and float builds</li>
							<li>Be a Louisiana resident</li>
							<li>Be 21 or older</li>
						</ul>
					</p>
				</div>

				<div class="card">
					<h3>General Membership</h3>
					<p>
						Don’t want to parade during Carnival? No problem! As a general member of Krewe de Vélorévolte, you’ll be part of a vibrant community that celebrates cycling, creativity, and camaraderie. Join us for social gatherings like soirées, parties, our book club, movie nights, and other community events—all while supporting our Krewe and the larger bicycle movement in New Orleans.
						<br>
						<br>
						To be a general member, you must:
						<ul>
							<li>Complete the application process</li>
							<li>Pay membership dues</li>
							<li>Attend any required info sessions</li>
							<li>Be a Louisiana resident</li>
							<li>Be 21 or older</li>
						</ul>
					</p>
				</div>
			</div>
		</section>

		<section id="contact-us">
			<h2>Contact Us if You're Interested in Joining!</h2>
			<form method="POST">
				<label>First Name
					<input type="text" required></input>
				</label>
				<label>Last Name
					<input type="text" required></input>
				</label>
				<label class="full-row">Email
					<input type="email" required></input>
				</label>
				<label class="checkbox-label full-row">Join our email list for news and updates
					<input type="checkbox"></input>
				</label>
				<label class="full-row">Subject
					<input type="text" required></input>
				</label>
				<label class="full-row">Message
					<textarea required></textarea>
				</label>
				<button type="submit" class="btn-primary">Submit</button>
			</form>
		</section>

		<Footer />
	</body>
</html>

<style lang="scss">
@use '../styles/mixins.scss' as *;

	header {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-self: center;
		text-align: center;
		overflow: hidden;
		padding: 4rem 0 5rem 0;
		margin-top: 4rem;
		@include globalPadding;
		h1 {
			margin: 0;
		}
		p {
			font-size: 2.3rem;
			margin-top: 1rem;
		}
		video {
			width: 100%;
			height: auto;
			position: absolute;
			inset: 0;
			z-index: -100;
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			background: rgba(0, 0, 0, 0.7);
			z-index: -10;
		}
	}

	.button-container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			margin-bottom: 2.5rem;
		}

		section {
			padding-top: 2rem;
			padding-bottom: 4rem;
			scroll-margin: 3rem;
			@include globalPadding;
			h2 {
				padding-top: 1.5rem;
				text-align: center;
			}
		}

		section:nth-of-type(2) {
			background-color: var(--color-black-light);
		}

		#about-section {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 4rem;
			padding-top: 5rem;
			h2 {
				padding-top: 0;
			}
			img {
				width: 100%;
				height: auto;
			}
		}

		#mission {
			h2 {
				margin-bottom: 0.5rem;
			}
			p {
				text-align: center;
			}
			ul {
				padding-left: 0;
			}
			li {
				margin: 2.5rem 0;
				list-style: none;
			}
		}

		.card-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 3rem;
		}

		.card {
			background-color: var(--color-black);
			padding: 1.75rem;
			border: solid 1px grey;
			border-radius: 0.5rem;
			h3 {
				margin-top: 0;
				margin-bottom: 1.25rem;
				text-align: center;
			}
		}

		@include tabletDown {
			header {
				video {
					height: 100%;
					width: auto;
				}
			}
			#about-section {
				display: flex;
				flex-direction: column-reverse;
				gap: 2rem;
			}
			.card-container {
				grid-template-columns: 1fr;
			}
		}

		@include mobileOnly {
			header {
				.button-container {
					flex-direction: column;
					width: 100%;
					a {
						width: 100%;
					}
				}
			}
			.card {
				padding: 1rem;
				font-size: 1rem;
			}
		}

</style>
