---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
		<img src="src/assets/logo.webp" alt="Logo" />
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<!-- <HeaderLink href="/mission">Our Mission</HeaderLink> -->
			 <a href="#contact-us">Contact Us</a>
			<HeaderLink href="/join">Join the Krewe</HeaderLink>
			<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
		</div>
		<div class="social-links">

		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--color-black-lighter);
		box-shadow: 0 2px 8px var(--color-black);
		top: 0;
		width: 100%;
		box-shadow: 1px 1px 12px rgb(46, 46, 46);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	img {
		width: 6rem;
		height: auto;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
